<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Result</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/new.css">
</head>
<body>
    <nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment n-padded-tb-mini n-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">Blog</h2>
                <a href="#" class="active n-item item n-mobile-hide"><i class="home icon"></i>Homepage</a>
                <a href="#" class="n-item item n-mobile-hide"><i class="idea icon"></i>Group</a>
                <a href="#" class="n-item item n-mobile-hide"><i class="tags icon"></i>Label</a>
                <a href="#" class="n-item item n-mobile-hide"><i class="clone icon"></i>Clone</a>
                <a href="#" class="n-item item n-mobile-hide"><i class="info icon"></i>About Me</a>
                <div class="right item n-mobile-hide">
                    <div class="ui icon inverted transparent input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button n-top-right n-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>

    <div class="n-container-small n-padded-tb-large">
        <div class="ui container">
            <div class="ui top attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <div class="ui teal header">Search Result</div>
                    </div>
                    <div class="right aligned column">
                        <h3 class="ui orange aligned header n-inline-block n-text-thin" th:text="${page.totalElements}">14</h3> in total
                    </div>
                </div>
            </div>

            <div class="ui top attached teal segment">
                <div class="ui padded vertical segment n-padded-tb-large" th:each="blog : ${page.content}">
                    <div class="ui mobile reversed stackable grid">
                        <div class="eleven wide column">
                            <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="n-black" th:text="${blog.title}"> Do you really understand what financial freedom is?</a></h3>
                            <p class="n-text" th:text="|${blog.description}......|">XXXX XXXX XXXX XXXX XXXX XXXX XXXX XXXX XXXX XXXX XXXX XXXX XXXX XXXX XXXX
                            </p>
                            <div class="ui grid">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="https://unsplash.it/100/100?image=1005" th:src="@{${blog.user.avatar}}" alt="" class="ui avatar image">
                                            <div class="content">
                                                <a href="#" class="header" th:text="${blog.user.nickname}">
                                                    Junhan Wang
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <i class="calender icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2020-05-07</span>
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i><span th:text="${blog.views}">475</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" target="_blank" class="ui teal basic label n-padded-tiny" th:text="${blog.type.name}">XYZ</a>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                                <img src="https://unsplash.it/800/450?image=1005" th:src="@{${blog.firstPicture}}" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <a th:href="@{/(page=${page.number}-1)}" class="item" th:unless="${page.first}">Previous Page</a>
                    </div>
                    <div class="right aligned column">
                        <a th:href="@{/(page=${page.number}+1)}" class="item" th:unless="${page.last}">Next Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="_fragments :: footer" class="ui inverted vertical segment n-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../static/images/QR.png" class="ui rounded image" alt="" style="width: 120px">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header n-text-thin n-text-spaced">Latest blog</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">User Story</a>
                        <a href="#" class="item">User Story</a>
                        <a href="#" class="item">User Story</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header n-text-thin n-text-spaced">Contact</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Email: junhanwang@umass.edu</a>
                        <a href="#" class="item">Phone: 413-404-4779</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header n-text-thin n-text-spaced">About</h4>
                    <p class="n-opacity-mini">This is my personal blog. I will share content about programming and gaming. I hope this may help someone who come here.</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="n-text-thin n-text-spaced n-opacity-tiny">Copyright © 2020 Junhan Wang All Rights Reserved</p>
        </div>
    </footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<script>
    $('.menu.toggle').click(function (){
        $('.n-item').toggleClass('n-mobile-hide');
    });
</script>
</body>
</html>